{% extends 'main/base.html' %}

{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <div class="card">
        <div class= "card_body" style="background-color: #f1ebd9;">
        <div class="contact-form">
           <h1 class="text-center" style="color:#256973; font-style: oblique;">We'd love to hear from you</h1>
            <h5 class= "text-center"> Whether you have a question about features or about us or anything else,<br> we are ready to answer all your questions. </h5>
            <br>
            <h4 style="text-decoration: underline;"> Our Mail Address : </h4>
            <h5> info@zoomreview.com </h5>

            <br>
            <h4 style="text-decoration: underline;"> For Contact : </h4>
            <h5>(+91)8369315264/(022)2548756 </h5>
            <br>
            <h4 style="text-decoration: underline;"> Our Office Address : <h4>
            <h5>B-222,<br> First Floor,<br> Ballard Pier, Near Hamilton House,<br> Phase-1, Mumbai India - 400001 </h5>
        </div>
        </div>
    </div>
</div>             
             
           
{% endblock %}