{% extends 'main/base.html' %}

{% block content %}
<h1 class="text-center" style="color:#F2AA4CFF; font-family: cursive;" > Welcome to Zoom Review!!!!</h1>
<div class="container">
<h1 style= "color:#ffffff; font-size: 2.5rem; font-style: italic;" > Popular Movies </h1>
    <div class="card" style="background-color:#F2AA4CFF;">
       <div class="card-body" >
          <div class="row">
            {% for movie in movies %}
            <div class="col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="text-center">
                      <a href=" {% url 'main:detail' movie.id %} "><img src="{{ movie.image }}" alt="" class="img.fluid" width="75%"></a>
                      <h3 class="text-center">{{ movie.name }}</h3>
                      <i> {{ movie.release_Date }} </i>                     
                      
                      </div>
                    </div>
                  </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
</div>            


{% endblock %}

